<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos-chat.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="chat">
    <div class="zonaContactos">
      <div class="infoCuenta">
        <div class="imagen"><img src="/static/images/luli.jpg"></div>
        <div class="nombre">Luli</div>
        <div class="estado">Online</div>

      </div>

      <h3>Chats</h3>
        <div class="contacto" onclick= "alert('Hola')">
            <div class="foto"><img src="/static/images/hombre.png"></div>
            <div class="nombre">Marco</div>
            <div class="ultimoMensaje"></div>
        </div>
    </div>

    <div class="zonaChat">

        <div class="informacionContacto">
            <div class="foto"><img src="/static/images/hombre.png"></div>
            <div class="nombre">Marco De Tropoya</div>
            <div class="estado">Online</div>
            <div class="herramientas"></div>
        </div>

        <div class="zonaMensajes">

            <div class="mensaje">
                <div class="contenido">Hola compadre </div>
                  <div class="informacionMensaje">
                      <div class="hora"></div>
                  </div>
            </div>









        </div>

        <div class="escritura">
            <input id="texto" class="box" name="mensaje" type="text"  placeholder="Escriba algo..." />
            <input id="enviar" class="box" name="boton" type="submit"/>

        </div>

    </div>


</div>


</body>
</html>
