<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
    <div align="center" width="80%">
        <div class="alert alert-primary" role="alert">
          CS2B01 - Plataform-Based Development
        </div>
        <img src="/static/images/cs.png"/>
        <div class="alert alert-primary" role="alert">
            201810323 - Maor Roizman Gheiler
        </div>
        <div>
        <a href="/static/login.html">LOGIN</a>
        </div>
        <div>
            <a href="/static/users.html" target="_blank">USERS</a>
        </div>
        <div>
             <a href="/static/messages.html" target="_blank">MESSAGES</a>
        </div>
        <br/>
    </div>
</body>
</html>
