<!DOCTYPE html>
<html>
  <head>
    <title>CSPlataformas</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login-styles.css"> </link>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  </head>
  <body>
    <div class="inner-screen">
      <div class="form">
          <form  method="post" action="/login">
            <h1>Formulario</h1>
            <input class="box" name="user" type="text"  placeholder="Enter your email" />
            <input class="box" name="password" type="password" placeholder="Password" />
             <input type="submit" value="Login" />
            <a href="https://www.google.com/" target="_blank">Perdiste tu clave?</a>
          </form>
          </div>
        </div>
  </body>
</html>